

.headline{
    border: 2px solid darkslategrey;
}

.section{
    min-height: 100vh;
}


#moment-counter{
    border-radius: 50%;
    background-color: grey;
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-size: 70px;
    margin: 0 auto;

}

#start-page {
    padding-top: 10%;
}


/* Keeps Placeholder Date Center in Form */
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }